ion-content {
    --background: linear-gradient(#01daf5, #019dfb);
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    --background: linear-gradient(#01daf5, #019dfb);
  }
  
  .login-title {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-box {
    --background: linear-gradient(#01daf5, #019dfb); 
    padding: 20px;
    border-radius: 20px;
    --background: linear-gradient(#01daf5, #019dfb);
    width: 90%;
    max-width: 350px;
  }
  
  .custom-label {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  ion-item {
    --background: transparent;
    margin-bottom: 15px;
  }
  
  .input-icon {
    color: white;
    position: absolute ;
    right: 25px;
    top: 46px;
  }
  
  ion-input {
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding-left: 10px;
    margin-top: 10px;
    background: transparent; /* Asegúrate de que el fondo sea transparente */
  }
  
  .forgot-password {
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    margin: 10px 0;
  }
  
  .login-button {
    --background: #0055ff;
    --color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 70px; /* Ajusta el tamaño del botón */
    display: block;
    margin: 0 auto; /* Centra el botón horizontalmente */
  }
  a
  .register-container {
    text-align: center;
    margin-top: 15px;
    color: white;
  }
  
  .register-container p {
    margin-bottom: 5px;
  }
  
  .register-container a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
  }
  
