<ion-content [fullscreen]="true">
  <head>
    <title>Curso 1 Asistencia</title>
  </head>
  <body>
  
  <div class="gradient-background">
    
    <div class="app-title">Curso 1 Asistencia</div>
  
    <div class="attendance-list">
      <div class="attendance-item">
        <ion-icon name="person-outline"></ion-icon>
        <span>Alejandro Vega</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Ana Rojas</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Camila Sanchez</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Carolina Mendoza</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Daniela Ortiz</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Diego Morales</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Emilio Castro</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Sebastian Lopez</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Sofia González</span>
        <ion-checkbox></ion-checkbox>
      </div>
      <div class="attendance-item">
        <span>Francisco Lobos</span>
        <ion-checkbox></ion-checkbox>
      </div>
    </div>
  
    <!-- Botón Enviar -->
    <ion-button color="light" expand="block" class="button">
      Enviar
    </ion-button>
  </div>
  
  

