<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="menu-container">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card button (click)="curso()">
          <ion-card-header>
            <ion-card-title>Cursos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="book-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card button (click)="escaner()">
          <ion-card-header>
            <ion-card-title>Escanea QR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card button (click)="asistencia()">
          <ion-card-header>
            <ion-card-title>Asistencia</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="clipboard-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>