ion-content{
    --background: linear-gradient(#01daf5, #019dfb);
}

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-button {
    margin: 10px;
  }
   */


