<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cursos_a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="courses-container">
  <div class="container">
    <ion-card class="attendance-card">
      <ion-card-content>
        <h2>Inglés elemental</h2>
        <p>9:00 - 9:20</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card class="attendance-card">
      <ion-card-content>
        <h2>Matemática aplicada</h2>
        <p>10:00 - 11:30</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card class="attendance-card">
      <ion-card-content>
        <h2>Mentalidad emprendedora</h2>
        <p>11:30 - 12:50</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card class="attendance-card">
      <ion-card-content>
        <h2>Principios de cristianismo</h2>
        <p>17:00 - 18:30</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

